.MainTDLContainer {
    padding: 20px 60px 20px 60px;
    border: 2px solid white;
    min-height: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.active_filter {
    color: white;
    text-align: center;
    border-bottom: 2px solid #c4c5cb;
    padding-bottom: 5px;
}

.none_active_filter {
    color: #c4c5cb;
    background-color: transparent;
    outline: none;
    text-align: center;
    border: 0 solid transparent;

}

.activityTasksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TDL_content {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}