.MainTDLContainer {
    padding: 20px 60px 20px 60px;
    margin: 20px;
    /*min-height: 300px;*/
    display: flex;
    flex-direction: column;
    background: rgba(52, 75, 132, 0.5);
    border-radius: 10px;
}

.active_filter {
    color: white;
    text-align: center;
    border-bottom: 2px solid #c4c5cb;
    padding-bottom: 5px;
}

.none_active_filter {
    color: #c4c5cb;
    background-color: transparent;
    outline: none;
    text-align: center;
    border: 0 solid transparent;

}

.activityTasksContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TDL_content {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*margin: 10px;*/
}

.todolistHeaderStyle {
    color: snow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid red;*/
    margin: 0 -20px 20px -20px;
}

.rmIconStyle {
    font-size: 16px;
    width: 35px;
    height: 35px;
    padding: 5px;
    color: snow;
    background-color: transparent;
    border: 1px solid snow;
    border-radius: 26px;
}
.rmIconStyle:hover {
    background-color: #dbcccc;
    color: #0b39e2;
    border: 1px solid transparent;
}
.rmIconStyle:disabled {
    background-color: #585858;
    color: #9e9c9c;
    border: 1px solid transparent;
}
.rmIconStyle:disabled:hover {
    background-color: #585858;
    color: #9e9c9c;
    border: 1px solid transparent;
}



@media screen and (max-width: 387px) {
    .MainTDLContainer {
        padding: 10px 30px 10px 30px;
    }
}