.headerWrapper {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3c3c;
}

.headerTitle {
    margin-left: 20px;
    color: snow;
}

.additionalTextStyles {
    color: #ff5900;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
}

.btnLogout {
    width: 100px;
    height: 30px;
    background-color: #0b39e2;
    border: 1px solid #0b39e2;
    color: snow;
    margin-right: 20px;
}

@media screen and (max-width: 677px) {
    .headerTitle {
        margin: 0;
    }
    .headerWrapper {
        justify-content: center;
    }
    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 370px) {
    .headerTitle {
        margin: 0;
    }
    .headerWrapper {
        justify-content: center;
    }
    h1 {
        font-size: 14px;
    }
}