.App {
  padding: 30px;
  display: flex;
  flex-direction: column;

}

.is-done {
  opacity: 0.5;
}

.tdlWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.loaderWrapper {
  /*border: 1px solid red;*/
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}




