/*.App {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

.AddItemFormStyle{
  margin-top: 25px;
  margin-bottom: 25px;
}

.news{
  display: flex;
  align-items: center;
}

.login{
  display: flex;
  justify-content: space-between;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
