.error {
    color: snow;
    outline: none;
    border: 2px solid red;
    background-color: transparent;
}

.notError {
    color: snow;
    outline: none;
    border: 2px solid snow;
    background-color: transparent;
}

.errorMessage {
    color: red;
}

.addBtnStyles {
    cursor: pointer;
    outline: none;
    color: snow;
    background-color: transparent;
    border: 2px solid snow;
}
.addBtnStyles:hover {
    color: #0b39e2;
    background-color: #c4c5cb;
    border: 2px solid transparent;
}